@model IEnumerable<SchoolMedical.Repositories.HoaLQ.Models.HealthProfilesHoaLq>

@{
    ViewData["Title"] = "Health Profiles";
}
<div class="container-fluid mt-4">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Health Profiles</h1>
        <a asp-action="Create" class="btn btn-success shadow-sm">
            <i class="bi bi-file-plus"></i> Create New
        </a>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable">
                    <thead class="bg-info">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Student)</th>
                            <th>@Html.DisplayNameFor(model => model.Sex)</th>
                            <th>@Html.DisplayNameFor(model => model.DateOfBirth)</th>
                            <th>@Html.DisplayNameFor(model => model.BloodType)</th>
                            <th>@Html.DisplayNameFor(model => model.Weight) (kg)</th>
                            <th>@Html.DisplayNameFor(model => model.Height) (cm)</th>
                            <th>@Html.DisplayNameFor(model => model.BloodPressure)</th>
                            <th>Allergy</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Student.StudentsHoaLqid)</td>
                                <td>
                                    
                                    @if (item.Sex)
                                    {
                                        <span style="color: blue;">Nam</span>
                                    }
                                    else
                                    {
                                        <span style="color: red;">Nữ</span>
                                    }
                                </td>
                                <td>@item.DateOfBirth.Value.ToString("dd/MM/yyyy")</td>
                                <td>@Html.DisplayFor(modelItem => item.BloodType)</td>
                                <td>@Html.DisplayFor(modelItem => item.Weight)</td>
                                <td>@Html.DisplayFor(modelItem => item.Height)</td>
                                <td>@Html.DisplayFor(modelItem => item.BloodPressure)</td>
                                <td>@Html.DisplayFor(modelItem => item.Allergy)</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Actions">
                                        <a asp-action="Edit" asp-route-id="@item.HealthProfileHoaLqid" class="btn btn-sm btn-outline-primary">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                        <a asp-action="Details" asp-route-id="@item.HealthProfileHoaLqid" class="btn btn-sm btn-outline-info">
                                            <i class="bi bi-info-circle"></i>
                                        </a>
                                        <a asp-action="Delete" asp-route-id="@item.HealthProfileHoaLqid" class="btn btn-sm btn-outline-danger">
                                            <i class="bi bi-trash3-fill"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>